# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Environment files
.env
.env.*

# Docker
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Temporary
tmp/
temp/
